
.container {
	border: 0, 5px solid;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-top: 13px;
	background-color: none;
	background-color: rgba(96, 136, 138, 0.356);
}

.nav {
	border: 1px solid transparent;

	width: 100%;
}
.logo {
	float: left;
	width: 7px;
	margin: 7px;
	padding-left: 70px;
}


.navbar {
	float: right;
    color: rgb(139, 79, 79);
	border-image-width: 1%;
}

.navbar ul li {
	float: right;
	list-style-type: none;
	padding: 10px;
	margin: 0 5px;
	background-color: rgba(11, 12, 12, 0.288);
	margin-top: 15px;
	transition: all 0.7s ease-out;
	font-size: 10;
	padding-top: 10px;
}
.navbar ul li:hover {
	background-color: rgb(236, 180, 127);
	border-radius: 30px;
	color: #111;
}




a {
	color: white;
	text-decoration: none;
}



.footer {
	background: rgba(2, 41, 59, 0.274);
	color: white;
	height: 40vmin auto;
	position: relative;
	list-style-type: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.footer .footer-content {
	height: 40vmin auto;
	display: flex;
}
.footer .footer-content .footer-section {
	flex: 1;
	padding: 25px;
}

.footer .footer-content h1 {
	color: rgb(42, 13, 49);
}
.footer .footer-content .About h1 span {
	color: #31556d;
}

.footer .footer-content .About .contact span {
	display: block;
	font-size: 1.1em;
	margin-bottom: 8px;
}
.footer .footer-content .About .socials a {
	border: 1px solid rgb(235, 214, 214);
	width: 45px;
	height: 41px;
	padding-top: 5px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all 0.3s;
	list-style-type: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.footer .footer-content .About .socials a:hover {
	border: 1px solid rgba(255, 255, 255, 0.603);
	color: rgba(255, 255, 255, 0.514);
	transition: all 0.7s;
}
.contact-input {
	background: #272727;
	color: #949494;
	margin-bottom: 15px;
	line-height: 1.5rem;
	padding: .9rem 1.4rem;
	border: none;
}
.contact-input:focus {
	background: #1a1a1a;
}

.footer .footer-bottom {
	background: #343434;
	color: rgba(165, 190, 238, 0.288);
	height: 50px auto;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
}
.footer .footer-content .Links ul a {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.footer .footer-content .Links ul a:hover {
	color: white;
	margin-left: 15px;
	transition: all 0.3s;
}

.contact-section {
	background: url(bilder/wp6862100-tumblr-4k-pc-wallpapers.jpg) no-repeat center;
	background-size: cover;
	padding: 40px 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
}
.contact-section-h1 {
	text-align: center;
	color: rgb(255, 255, 255);
	padding-top: 90px;
	
}
.border {
	width: 100px;
	height: 10px;
	background: #34495e;
	margin: 40px auto;
}

.contact-form {
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}
.contact-form-text:focus {
	box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text {
	resize: none;
	height: 120px;
}
.contact-form-btn {
	float: right;
	border: 0;
	background: #34495e;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}
.contact-form-btn:hover {
	background: #2980b9;
}

textarea.contact-form-text {
	resize: none;
	height: 120px;
}
.contact-form-btn {
	float: right;
	border: 0;
	background: #5d7ea0;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}
.contact-form-btn:hover {
	background: #2980b9;
}

.section-internet-andra p {
	padding-top: 10%;
}

.main-internet-andra .section-internet-andra h2 {
	padding-left: 10px;
	font-size: 29px;
}

.section-internet-andra {
	flex: 2;
	padding-left: 30px;
	border: 5px solid transparent;
	margin: 5%;
}
.main-interne-tr h5 {
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 12px;
}


.main-interne-tr p {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 70px;
	padding-bottom: 50px;
}
.main-interne-tr {
	text-align: center;
	padding-top: 70px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: (35, 82, 90, 0.26);
}

.btn-big {
	padding: .7rem 1.3rem;
	color: #1a1a1a;
	background-color: rgb(114, 144, 148);
}


.btn:hover {
	color: white;
	background: #005255;
}

.text-input {
	padding: .7rem 1rem;
	display: block;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #e0e0e0;
	outline: none;
	color: rgb(252, 252, 252);
}

.contact-input:focus {
	background: #1a1a1a;
}
.contact-input {
	background: #272727;
	color: #949494;
	margin-bottom: 15px;
	line-height: 1.5rem;
	padding: .9rem 1.4rem;
	border: none;
}

footer